{% extends "base.html" %} {% block title %}Home{% endblock %} 
{% block content%}
<div class="container">
  <div class =>
    <div align = "center">
      <div id ="back-img"class="card" style="width: 18rem;">
        <img id = "image" src="static/images/user1.png" class="idcard-img-top" alt="User profile picture">
        <div class="card-body">
          <h5 class="card-title"></h5>
        </div>
        <ul class="list-group list-group-flush">
          <li align= "left" class="list-group-item">O'Karen</li>
          
          <li align= "left" class="list-group-item">Karen Nicole</li>
          
          <li align= "left" class="list-group-item">123 Main ST Silicon Valley MD 12345</li>
          
          <li align= "left" class="list-group-item">01/01/2001</li>

        </ul>
        <div class="card-body">
          <img id = "barcode-image" src="static/images/idBarcode.jpg" alt="User Barcode">
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}